@tailwind base;
@tailwind components;
@tailwind utilities;


.ReactModal__Overlay {
    background: rgba(0, 0, 0, 0.909) !important;
    z-index: 99;
}
.ReactModal__Content {
    padding: 0 !important;
}